@import "@material/typography/mdc-typography";
@import 'variables';
@import 'barra-navegacion';
@import 'encabezado';
@import 'ruta-navegacion';
@import 'contenido';
@import 'lista';
@import 'formulario';
@import "@material/snackbar/mdc-snackbar";
@import "@material/dialog/mdc-dialog";

//Estilos - aplicacion-web.scss
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #5e92f3;
}

.enlace-boton {
    color: #000000;
    text-decoration: none;
}

/* Estilo para campo de ingreso de datos */
.campo-ing-dato {
    display: block;
    margin-top: 12px; 
    margin-bottom: 12px; 
}

/* Estilos para mostrar información de consulta */
.h7 {
    font-weight: 600;
}

.texto-info {
    padding-left: 12px;
}

footer {
    clear: both;
}

/* Estilos para acciones */
.boton-principal {
    margin-top: 12px;
    float: right;
}

.boton-secundario {
    margin-top: 12px;
    float: left;
}

.boton-siguiente {
    @include mdc-button-filled-accessible(#b3b38f);
    margin-right: 12px;
    margin-bottom: 12px;
    float: right;
}

.boton-atras {
    @include mdc-button-filled-accessible(#b3b38f);
    margin-left: 12px;
    margin-bottom: 12px;
    float: left;
}

/* Estilos para mostrar mensajes del sistema */
.mensaje-error {
    @include mdc-snackbar-fill-color(#c62828);
}

.mensaje-error .mdc-snackbar__label {
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.mensaje-advertencia {
    @include mdc-snackbar-fill-color(#ffc740);
}

.mensaje-advertencia .mdc-snackbar__label {
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.boton-advertencia {
    color: rgba(0, 0, 0, 1);
}
//Fin