@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/button/mdc-button";

//Estilos - barra-navegacion.scss
.mdc-top-app-bar {
    position: static;
    color: #ffffff;
    @include mdc-top-app-bar-fill-color(#003c8f);
}

.bar-nav-boton {
    margin-left: 12px; 
}
//Fin