@import "@material/textfield/mdc-text-field";
@import "@material/form-field/mdc-form-field";
@import "@material/radio/mdc-radio";

//Estilos - formulario.scss
form ol {
    list-style: none;
    padding: 0;
    text-align: center;
}

/* Regla para eliminar * de campos obligatorios */
.mdc-floating-label::after {
    display: none;
}

/* Reglas para icono-boton dentro de un campo */
.mdc-icon-toggle {
    height: fit-content;
    margin: 16px 12px;
}

.mdc-icon-toggle:focus {
    outline: none;
}

.mdc-icon-toggle:hover {
    cursor: pointer;
}

/* Regla para etiquetas de la lista de imágenes */
.campo-ing-dato .mdc-image-list--with-text-protection .mdc-image-list__supporting {
    padding: 0 5px;
}

.campo-ing-dato .mdc-image-list, .mdc-text-field--outlined, .mdc-select--outlined {
    width: 100%;
}

/* Reglas para fila de campos con múltiples columnas */
.campo-ing-dato-row {
    padding: 0;
    margin-top: 12px; 
    margin-bottom: 12px;
    list-style: none;
    height: 56px;
}

.campo-ing-dato-col3 {
    width: 32%;
    float: left;
}

.campo-ing-dato-col3-izquierda {
    margin-left: 0;
    margin-right: 2%;
}

.campo-ing-dato-col3-derecha {
    margin-left: 2%;
    margin-right: 0;
}

.campo-ing-dato-col  {
    width: 100%;
}

/* Reglas para texto de ayuda dentro de formulario */
.form-texto-ayuda a{
    color: #000000;
    text-decoration: none;
}

.form-texto-ayuda a:hover {
    color: #000000;
    text-decoration: underline;
}
//Fin