@import 'barra-navegacion.scss';
@import 'botones.scss';

* {
    box-sizing: border-box;
    margin: 0;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

#encabezado {
    outline: 2px dashed green;
    clear: both;
}

#breadcrumb {
    outline: 2px dashed red;
}

#filtro {
    outline: 2px dashed yellow;
}

#filtro-total {
    float: left;
    width: 50%;
}

#filtro-resultados {
    float: left;
    width: 50%;
    text-align: right;
}

#lista-resultados {
    outline: 2px dashed purple;
    clear: both;
}

.resultado-item {
    outline: 2px dashed grey;
}

#botones {
    outline: 2px dashed sienna;
    text-align: right;
}
