@import "@material/typography/mdc-typography";
@import 'variables';
@import 'barra-navegacion';
@import 'encabezado';
@import 'ruta-navegacion';
@import 'contenedor';
@import 'filtro';
@import 'lista';
@import 'formulario';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #5e92f3;
}
.enlace-boton {
    text-decoration: none;
}