@import "@material/typography/mdc-typography";
@import 'barra-navegacion.scss';
@import 'breadcrumbs.scss';
@import 'filtro.scss';
@import 'lista-resultados.scss';
@import 'botones.scss';


* {
    box-sizing: border-box;
    margin: 0;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

.contenedor {
    margin: 12px;
}