@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/button/mdc-button";

.mdc-top-app-bar {
    position: static;
    color: #ffffff;
    @include mdc-top-app-bar-fill-color(#003c8f);
}

.boton-menu {
    margin-left: 10px; 
}