
#bar-nav {
    outline: 2px dashed blue;
    /*height: 12vh;*/
}

#logo {
    outline: 2px dashed palegreen;
    float: left;
    width: 30%;
}

#logo img {
    float: left;
    max-width: 100%;
}

#menu {
    outline: 2px dashed chartreuse;
    float: right;
    width: 70%;
}