@import "@material/icon-button/mdc-icon-button";

#breadcrumb {
    margin-top: 10px;
    padding-left: 12px;
    vertical-align: middle;
}

#breadcrumb li {
    display: inline;
}

#breadcrumb li+li:before {
    content: "/\00a0";
}

#breadcrumb li a {
    text-decoration: none;
}

