@import "@material/card/mdc-card";
@import "@material/elevation/mdc-elevation";
@import "@material/button/mdc-button";

.contenedor-grande {
    margin: 0 12px 12px 12px;
    padding: 22px 30px;
}

.contenedor-pequeno {
    margin: 0 25% 12px 25%;
    padding: 32px 40px;

}

.texto-ayuda a{
    color: #000000;
    text-decoration: none;
}

.texto-ayuda a:hover {
    color: #000000;
    text-decoration: underline;
}

footer button {
    margin-top: 12px;
    float: right;
}
