@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

.titulos-encabezado {
    padding: 32px;
    background-color: #ffffff;
    overflow: auto;
}

.texto-encabezado {
    float: left;
}

.boton-encabezado,
.tab-encabezado {
    float: right;
}

.titulos-encabezado .mdc-tab  {
    padding: 0 12px;
    text-transform: initial;
}

.titulos-encabezado .mdc-tab .mdc-tab__text-label {
    opacity: 1;
}

.encabezado-item {
    margin-bottom: 12px;
    border-bottom: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-style: solid;
    padding-bottom: 12px;
}