@import "@material/select/mdc-select";
@import "@material/chips/mdc-chips";

#filtro {
    padding: 12px;
    overflow: auto;
}

#filtro-total {
    float: left;
}

#filtro-resultados {
    float: right;
}

