@import "@material/card/mdc-card";
@import "@material/elevation/mdc-elevation";
@import"@material/list/mdc-list";
@import "@material/icon-button/mdc-icon-button";

//Lista en contenedor grande
.lista-resultados {
    list-style: none;
    margin-top: 12px;
    padding: 0;
}

.lista-item {
    list-style: none;
    padding: 12px;
}

.item-subtitulo {
    opacity: 0.6;
}

//Lista de items con un icono en contenedor mediano
.lista-icono-mediano .mdc-list-item {
    float: left;
    width: 90%;
}

//Lista de items con un icono en contenedor lateral
.lista-icono-lateral .mdc-list-item {
    float: left;
    width: 83%;
}

//Lista de items con dos iconos en contenedor lateral
.lista-icono2-lateral .mdc-list-item {
    float: left;
    width: 64%;
}