$mdc-theme-primary: #1565c0;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-secondary: #5e92f3;
$mdc-theme-on-secondary: #ffffff;
/*
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: #ffffff;
$mdc-theme-on-background: #442C2E;
*/